@model FinalProject.WEB.Models.OxygenCalculationViewModel
@{
    ViewData["Title"] = "GetTime";
    Layout = "~/Views/Shared/_DiverLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/formCalculation.css">
</head>
<form class="decor" method="post" id="timeForm">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>Calculate time for dive with your oxygen</h3>
        <input type="number" class="form-control" name="oxygen" id="oxygen" placeholder="Enter your oxygen" />
        <input type="number" class="form-control" name="deep" id="deep" placeholder="Enter required deep" />
        <input type="number" class="form-control" name="tank" id="tank" placeholder="Enter your tank size" />
        <input type="submit" value="Calculate">
        <h2>Result: @Model.Result minutes</h2>
    </div>
</form>
<script>
    $('form[id="timeForm"]').validate({
        rules: {
            oxygen: 'required',
            deep: 'required',
            tank: 'required'
        },
        messages: {
            oxygen: 'This field is required!',
            deep: 'This field is required!',
            tank: 'This field is required!',
        },
        submitHandler: function (form) {
            form.submit();
        }
    });
</script>