@model FinalProject.WEB.Models.UserViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        h2 {
            text-align: center;
            color: green;
        }
    </style>
</head>
<h2>Succesfully changed! Please, re-login to your account!</h2>
