
@{
    ViewData["Title"] = "RegisterPage";
}
<head>
    <link rel="stylesheet" href="~/css/form.css">
    <style>
        h2{
            color: red;
        }
        </style>
</head>
<form class="decor" method="post">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>Login for divers</h3>
        <input type="text" name="login" placeholder="Your login">
        <input type="password" name="password" placeholder="Your password">
        <input type="submit" value="Login">
        <h2>Error during registration! Try again!</h2>
    </div>
</form>
