@{
    ViewData["Title"] = "Home Page";
}

<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-8">
                <div class="card">
                    <div class="card-img">
                        <img src="~/images/diverRegister.png" class="img-fluid">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Register</h4>
                        <p class="card-text">
                            Just fill in our form with your information to get access to our convinient diveapp.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("RegisterPage", "Register")"><p class="card-link">Go to register</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-8">
                <div class="card">
                    <div class="card-img">
                        <img src="~/images/diverLogin.png" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <p class="card-text">
                            Just provide your entry data to get access to all our features.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Login", "Login")"><p class="card-link">Go to login</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

